.swiper {
    margin-top: 6.5rem;
    width: 100%;
    max-width: 1600px;
    @include breakpoint-down(medium){
        margin-top: 3.8rem;
    }
    &:hover {
        opacity: 1;
    }

    &__img {
        height: 255px; 
        width: 100%;
        object-fit: cover;
        @include breakpoint-up(large){
            height: 380px; //380
        }
    }

    .swiper-button-prev {
        @include swiper-buttons(0, 65px, 65px, 0, -10px, 0)
    }
    .swiper-button-next {
        @include swiper-buttons(65px, 0, 0, 65px, -100, -10px)
    }

    .swiper-pagination {
        --swiper-pagination-color: $White;
        --swiper-pagination-bullet-size: 8px;
        --swiper-pagination-bullet-inactive-color: $Black;
        --swiper-pagination-bullet-inactive-opacity: 0.4;
        --swiper-pagination-bullet-opacity: 1;
        --swiper-pagination-bullet-horizontal-gap: 3px;
    }
}
.swiper .swiper-pagination-bullet {
    box-shadow: inset 0 0 0 2px $White;
}
.swiper .swiper-pagination-bullet-active {
    box-shadow:  0 0 0 2px $Black;
}

.swiper:hover .swiper-button-prev{
    opacity: 1;
}
.swiper:hover .swiper-button-next{
    opacity: 1;
}

.slider {
    width: 88vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    
    &__track {
        display: flex;
        animation: scroll 40s linear infinite;
        -webkit-animation: scroll 40s linear infinite;
        width: calc(200px * 20);
    }

    &__slide {
        width: 200px;
    }
    &__img {
        width: 100%;
    }

}
@keyframes scroll {
    0% {
        -webkit-animation: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-animation: translateX(calc(-200px * 10));
        transform: translateX(calc(-200px * 10));
    }
}


