// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

$Header: #1C1C1C;
$Border-card: #afacac;
$Font-color: #171427;
$White: #fff;
$Black: #111;
$Gray: #ccc;
$Anuncio: #626262;
$button: #3498db;
$button-shadow: #2980b9;
$Dropdown1: #323741;
$Dropdown-border: #363a43;
$Dropdown-hover: #2a2d35;
$Card-remove: #d81d1d;
$Font: 'Poppins', sans-serif;